
<header class="site-header sticky-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid px-4">
            <a class="navbar-brand" href="../index.html">
                <img src="HubTechResearch/images/Logo.png" alt="HubTechResearch" height="40">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav ms-auto pe-4">

                    <li class="nav-item">
                        <a class="nav-link text-white" href="../index.html">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-white" href="../about.html">About</a>
                    </li>
                    <!-- <li class="nav-item dropdown">
                        <a class="nav-link text-white dropdown-toggle" href="#" id="researchDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Research
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="researchDropdown">
                            <li><a class="dropdown-item" href="../research/ai-ml.html">AI & Machine Learning</a></li>
                            <li><a class="dropdown-item" href="../research/iot.html">IoT</a></li>
                            <li><a class="dropdown-item" href="../research/cybersecurity.html">Cybersecurity</a></li>
                            <li><a class="dropdown-item" href="../research/emerging-tech.html">Emerging Tech</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="../research/">All Research</a></li>
                        </ul>
                    </li> -->
                    <li class="nav-item dropdown">
                        <a class="nav-link text-white dropdown-toggle" href="#" id="newsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            News
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="newsDropdown">
                            <li><a class="dropdown-item" href="../news/">Latest News</a></li>
                            <li><a class="dropdown-item" href="../news/category/technology.html">Technology</a></li>
                            <li><a class="dropdown-item" href="../news/category/business.html">Business</a></li>
                            <li><a class="dropdown-item" href="../news/category/marketing.html">Marketing</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link text-white dropdown-toggle" href="#" id="servicesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Services
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="servicesDropdown">
                            <li><a class="dropdown-item" href="../services/email-marketing.html">Email Marketing</a></li>
                            <li><a class="dropdown-item" href="../services/call-marketing.html">Call Marketing</a></li>
                            <!-- <li><a class="dropdown-item" href="../services/digital-advertising.html">Digital Advertising</a></li> -->
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="../services/">All Services</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="../blogs/">Blog</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="../reports/">Reports</a>
                    </li> -->
                </ul>
                <div class="d-flex">
                    <a href="../advertise.html" class="btn btn-outline-light me-2">Advertise</a>
                    <a href="../contact.html" class="btn btn-primary">Contact</a>
                </div>
            </div>
        </div>
    </nav>
</header>
